.section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section button {
    background-color: rgba(187, 187, 187, 0);
    height: 75px;
    margin-top: 10px;
    border: 1px solid rgba(204, 204, 204, 0);
}


.buttonHover:hover {
    background-color: rgb(176, 176, 176);
    width: 215px;
    height: 60px;
    margin-bottom: 20px;
    border-radius: 20px;
    transition: 0.2s;
    border: 1px solid rgb(204, 204, 204);
}
